@charset "UTF-8";

@font-face { 
    font-family: 'mainFont'; 
    src: url('../fonts/Frutiger_ar.ttf'); 
} 
p,span,h1,h2,h3,h4,h5,a {
    font-family: 'mainFont', sans-serif;
}
/* CSS Document */
#first__section {
    background: #fff;
}

#first__section__1 {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 0 50px;
}
a.box_news figure img {
    width: 100% !important;
}

a.box_news figure{
    border-radius: 0px !important;
}

a.box_news h4 {
    font-size: 16px !important;
    margin-bottom: 10px;
    font-weight: 900 !important;
}
.hidden {
    display: none;
}
.show {
    display: block;
}
.fullscreen-container, .fullwidthbanner-container {
    height: 575px !important;
}

.feature_home_2 {
    width: 750px;
    margin: 0 auto 90px;
}

.feature_home_2 h3 {
    font-size: 18px;
    background: #0074C9;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ;
}

.feature_home_2 h3:hover {
    background: #07a7e3;
    border-radius: 5px;
}

#element_2 {
    background: #fdfdfd !important; 
    box-shadow: 5px 5px 47px rgba(0, 0, 0, 0.1)  ; 
    -webkit-box-shadow: 5px 5px 47px rgba(0, 0, 0, 0.1)  ; 
    -moz-box-shadow: 5px 5px 47px rgba(0, 0, 0, 0.1)  ; 
    padding: 50px;
    height: 100% !important;
    max-height: 100%;
}

#element_2 p {
    font-weight: 900;
}

.border_bttm {
    padding: 0 25px 20px;
    border-bottom: 1px solid #949494;
}
.margin_20 {
    margin-top: 20px
}
.padding_40 {
    padding-top: 40px
}
.margin_50 {
    margin-top: 50px
}
@media only screen and (max-width: 1100px) {
	.feature_home_2 {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
	div#slide-411-layer-03 {
        display: none;
    }
}